In [0]:
import numpy as np
import pandas as pd

In [17]:
pip install GetOldTweets3

Requirement already satisfied: GetOldTweets3 in /usr/local/lib/python3.6/dist-packages (0.0.11)
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Requirement already satisfied: pyquery>=1.2.10 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (1.4.1)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.6/dist-packages (from pyquery>=1.2.10->GetOldTweets3) (1.1.0)

In [0]:
import GetOldTweets3 as got

In [21]:
def get_tweets(keyword,count,fromDate,toDate):

  tweetCriteria = got.manager.TweetCriteria().setQuerySearch(keyword)\
                                             .setSince(fromDate)\
                                             .setUntil(toDate)\
                                            .setMaxTweets(count)
  tweets = got.manager.TweetManager.getTweets(tweetCriteria)

  text_tweets = [[tweet.date, tweet.text] for tweet in tweets]

  return text_tweets
list_of_tweets=get_tweets("coronavirus",200,"2020-01-01","2020-03-27")
cols=["Date & Time","Tweet"]
df=pd.DataFrame(list_of_tweets,columns=cols)
df.to_csv("output.csv",index=False,header=True)
df.head()

                Date & Time                                              Tweet
0 2020-03-26 23:59:59+00:00  Normal life, where the fuck are you?! Please c...
1 2020-03-26 23:59:59+00:00  No hace mucho que se me fueron encima aquí en ...
2 2020-03-26 23:59:59+00:00  Paremos la propagación del virus con: -Distanc...
3 2020-03-26 23:59:59+00:00  Why #Coronavirus Is Dangerous For #Diabetics? ...
4 2020-03-26 23:59:59+00:00  The Coronavirus is probably the only thing mad...